
<app-navbar></app-navbar>

    <div class="row divCards divCards-arriba">
        <!--Cards superiores-->
        <!--<app-cards></app-cards>-->
        <div class="p-0 col d-flex justify-content-center">

            <!--<div id="header"  (click)="mostrarDetalleTarjeta()">
                <p-progressBar [value]="porcentajeCard" mode="determinate"></p-progressBar>
                <ul id="menu">
                  <li>
                    <div id="detallesTarjeta">
                        <ul>
                            <li>Edad: 40.</li>
                            <li>Altura: 180.</li>
                            <li>Peso: 90kg.</li>
                        </ul>
                    </div>
                </li>
                <li>Examen Físico</li>
                </ul>
              </div>-->

            <div class="row">
                <!--animate__animated animate__slideInDown-->

                <div class="example-box example-box-up" *ngFor="let card of cardList" cdkDrag [cdkDragDisabled]="sePuedeMover" cdkDragBoundary=".limiteDrag" cdkDragLockAxis="y" [cdkDragFreeDragPosition]="dragPosition">{{card.titulo}}</div>


                <div class="col d-flex justify-content-center">
                    <div class="row">

                        <!--INI-CODEPEN-->
                        <div cdkDrag [ngClass]="expandir ? 'containerCard expand' : 'containerCard'"><span (click)="expandir = !expandir" class="button">&#10006;</span>
                            <div class="content">
                            <div class="head">
                                <h1>Expand.</h1>
                                <p class="sub">by <a href="https://codepen.io/woodwork/" target="_blank">Joe Harry</a></p>
                            </div>
                            <div class="body">
                                <p>
                                There once was a wolf named <em>Knox</em>. He lived in a bright blue box. Until one day, his box blew away and he was left with only his <em>socks</em>.<br><br> Integer augue augue, fermentum at purus nec, euismod rutrum ex. Nulla pulvinar tortor ipsum, vel accumsan nunc rutrum sed. Praesent faucibus sollicitudin tempus. Phasellus congue ex tempor malesuada congue. Etiam vitae dui commodo, ultrices eros malesuada mi. Fusce suscipit eleifend lacus, at gravida urna gravida in. Nullam sodales a consequat leo nisl sit amet ipsum. Pellentesque aliquam dolor quam, et ultricies leo fringilla in. Nulla eu neque eu mauris malesuada efficitur ultrices sed mi. Vestibulum nec quam vitae purus ut sed velit. Vestibulum ultricies iaculis magna ut consequat.</p>
                                <div class="action-bar"><a>SHARE</a><a>LEARN MORE</a></div>
                            </div>
                            </div>
                        </div>
                        <!--FIN-CODEPEN-->

                        
                    </div>
            </div>

            </div>
        </div>
    </div>
    <div class="row divCentral">

        <div class="col col-md-2 colLateral">

            <p-card class="m-2" header="header" (click)="modalGraficos()">
                <!--<app-graficos-modal></app-graficos-modal>-->
                <b>Prueba modal</b>
            </p-card>

            <p-dialog header="Graficos" [(visible)]="showModalGraficos" [maximizable]="true" [style]="{width: '50vw'}">
                <p-chart type="bar" [data]="dataGrafico"></p-chart>
            </p-dialog>

            <!--------------------------------------------------->

            <p-card class="m-2" header="header" (click)="modalOrdenarLista()">
                <b>Ordenar lista</b>
            </p-card>

            <p-dialog header="Lista" [(visible)]="showModalOrdenarLista" [maximizable]="true" [style]="{width: '50vw'}">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-boxLista" *ngFor="let movie of movies" cdkDrag>
                      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                      {{movie}}
                    </div>
                  </div>
            </p-dialog>

            <!--------------------------------------------------->

            <p-card class="m-2" header="header" (click)="modalTransferirListas()">
                <b>Listas</b>
            </p-card>

            <p-dialog header="Lista" [(visible)]="showModalTransferirListas" [maximizable]="true" [style]="{width: '50vw'}">
                
                <div class="example-container">
                    <h2>To do</h2>
                  
                    <div
                      cdkDropList
                      #todoList="cdkDropList"
                      [cdkDropListData]="todo"
                      [cdkDropListConnectedTo]="[doneList]"
                      class="example-list"
                      (cdkDropListDropped)="dropIntercambiar($event)">
                      <div class="example-boxLista" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                    </div>
                  </div>
                  
                  <div class="example-container">
                    <h2>Done</h2>
                  
                    <div
                      cdkDropList
                      #doneList="cdkDropList"
                      [cdkDropListData]="done"
                      [cdkDropListConnectedTo]="[todoList]"
                      class="example-list"
                      (cdkDropListDropped)="dropIntercambiar($event)">
                      <div class="example-boxLista" *ngFor="let item of done" cdkDrag>{{item}}</div>
                    </div>
                  </div>
                
            </p-dialog>

        </div>

        <div class="col col-md-8 colCentral">
            <p>Centro</p>
        </div>

        <div class="col col-md-2 colLateral">

            <p-card class="m-2" *ngFor="let lateral of cardList" header="header">
                Content
            </p-card>

        </div>
    </div>
    <div class="row divCards divCards-abajo">
        <!--Cards inferiores-->
        <!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" (cdkDropListExited)="prueba($event)">-->

        <div class="col d-flex justify-content-center">

          <div class="row">

              <div class="col">
                <div [ngClass]="{'minimized': ventanaMinimizada1}">
                  <div id="window1" class="window" [ngClass]="{'window-maximize': !ventanaMinimizada1}">
                    <nav class="window-controls">
                      <div class="maximize" (click)="ventanaMinimizada1 = !ventanaMinimizada1">Exámen Físico</div>
                      <div class="close"></div>
                      <div class="minimize" (click)="ventanaMinimizada1 = !ventanaMinimizada1"></div>
                    </nav>
                    
                    <aside class="window-sidebar">
                      <div class="content-block"></div>
                      <div class="content-block"></div>
                      <div class="content-block"></div>
                      <div class="content-block"></div>
                    </aside>
                    
                    <section class="window-content"></section>
                  </div>
                </div>
              </div>

              <div class="col">
                <div [ngClass]="{'minimized': ventanaMinimizada2}">
                  <div id="window2" class="window" [ngClass]="{'window-maximize': !ventanaMinimizada2}">
                    <nav class="window-controls">
                      <div class="maximize" (click)="ventanaMinimizada2 = !ventanaMinimizada2">Exámen Físico</div>
                      <div class="close"></div>
                      <div class="minimize" (click)="ventanaMinimizada2 = !ventanaMinimizada2"></div>
                    </nav>
                    
                    <aside class="window-sidebar">
                      <div class="content-block"></div>
                      <div class="content-block"></div>
                      <div class="content-block"></div>
                      <div class="content-block"></div>
                    </aside>
                    
                    <section class="window-content"></section>
                  </div>
                </div>
    
              </div>
            </div>

            <div class="col">
              <div [ngClass]="{'minimized': ventanaMinimizada3}">
                <div id="window3" class="window" [ngClass]="{'window-maximize': !ventanaMinimizada3}">
                  <nav class="window-controls">
                    <div class="maximize" (click)="ventanaMinimizada3 = !ventanaMinimizada3">Exámen Físico</div>
                    <div class="close"></div>
                    <div class="minimize" (click)="ventanaMinimizada3 = !ventanaMinimizada3"></div>
                  </nav>
                  
                  <aside class="window-sidebar">
                    <div class="content-block"></div>
                    <div class="content-block"></div>
                    <div class="content-block"></div>
                    <div class="content-block"></div>
                  </aside>
                  
                  <section class="window-content"></section>
                </div>
              </div>
            </div>

        </div>
            
            <!--<div class="col d-flex justify-content-center">
                <div class="row">
                    
                    <div cdkDrag [ngClass]="expandir ? 'containerCard expand' : 'containerCard'"><span (click)="expandir = !expandir" class="button">&#10006;</span>
                        <div class="content">
                          <div class="head">
                            <h1>Expand.</h1>
                            <p class="sub">by <a href="https://codepen.io/woodwork/" target="_blank">Joe Harry</a></p>
                          </div>
                          <div class="body">
                            <p>
                              There once was a wolf named <em>Knox</em>. He lived in a bright blue box. Until one day, his box blew away and he was left with only his <em>socks</em>.<br><br> Integer augue augue, fermentum at purus nec, euismod rutrum ex. Nulla pulvinar tortor ipsum, vel accumsan nunc rutrum sed. Praesent faucibus sollicitudin tempus. Phasellus congue ex tempor malesuada congue. Etiam vitae dui commodo, ultrices eros malesuada mi. Fusce suscipit eleifend lacus, at gravida urna gravida in. Nullam sodales a consequat leo nisl sit amet ipsum. Pellentesque aliquam dolor quam, et ultricies leo fringilla in. Nulla eu neque eu mauris malesuada efficitur ultrices sed mi. Vestibulum nec quam vitae purus ut sed velit. Vestibulum ultricies iaculis magna ut consequat.</p>
                            <div class="action-bar"><a>SHARE</a><a>LEARN MORE</a></div>
                          </div>
                        </div>
                      </div>                    
                </div>
            </div>-->

        <!--</div>-->
        <!--<app-cards></app-cards>-->
        <!--<app-card-list></app-card-list>-->
    </div>
    

