
<app-navbar></app-navbar>

    <div class="row divCards divCards-arriba">
        <!--Cards superiores-->
        <!--<app-cards></app-cards>-->
        <div class="col d-flex justify-content-center">

            <div id="header">
                <p-progressBar [value]="porcentajeCard" mode="determinate"></p-progressBar>
                <ul id="menu">
                  <!--<li>{{ mostrarDetalleObs | async}}</li>-->
                  <li>
                    <div id="detallesTarjeta">
                        <ul>
                            <li>Edad: 40.</li>
                            <li>Altura: 180.</li>
                            <li>Peso: 90kg.</li>
                        </ul>
                    </div>
                </li>
                <li>Examen Físico</li>
                </ul>
              </div>

              <!-- <div id="header">
                <p-progressBar [value]="porcentajeCard" mode="determinate"></p-progressBar>
                <ul id="menu">
                  <li>Examen Físico</li>
                  <li>Edad: 40.</li>
                  <li>Altura: 180.</li>
                  <li>Peso: 90kg.</li>
                </ul>
              </div> -->
            <div class="row">

                <div class="example-box example-box-up" *ngFor="let card of cardList" cdkDrag [cdkDragDisabled]="sePuedeMover" cdkDragLockAxis="y" [cdkDragFreeDragPosition]="dragPosition">{{card.titulo}}</div>

                <div class="col d-flex justify-content-center">
                    <div class="row">

                        <!--INI-CODEPEN-->
                        <div cdkDrag [ngClass]="expandir ? 'containerCard expand' : 'containerCard'"><span (click)="expandir = !expandir" class="button">&#10006;</span>
                            <div class="content">
                            <div class="head">
                                <h1>Expand.</h1>
                                <p class="sub">by <a href="https://codepen.io/woodwork/" target="_blank">Joe Harry</a></p>
                            </div>
                            <div class="body">
                                <p>
                                There once was a wolf named <em>Knox</em>. He lived in a bright blue box. Until one day, his box blew away and he was left with only his <em>socks</em>.<br><br> Integer augue augue, fermentum at purus nec, euismod rutrum ex. Nulla pulvinar tortor ipsum, vel accumsan nunc rutrum sed. Praesent faucibus sollicitudin tempus. Phasellus congue ex tempor malesuada congue. Etiam vitae dui commodo, ultrices eros malesuada mi. Fusce suscipit eleifend lacus, at gravida urna gravida in. Nullam sodales a consequat leo nisl sit amet ipsum. Pellentesque aliquam dolor quam, et ultricies leo fringilla in. Nulla eu neque eu mauris malesuada efficitur ultrices sed mi. Vestibulum nec quam vitae purus ut sed velit. Vestibulum ultricies iaculis magna ut consequat.</p>
                                <div class="action-bar"><a>SHARE</a><a>LEARN MORE</a></div>
                            </div>
                            </div>
                        </div>
                        <!--FIN-CODEPEN-->

                        
                    </div>
            </div>

            </div>
        </div>
    </div>
    <div class="row divCentral">

        <div class="col col-md-2 colLateral">

            <p-card class="m-2" header="header" (click)="modalGraficos()">
                <!--<app-graficos-modal></app-graficos-modal>-->
                <b>Prueba modal</b>
            </p-card>

            <p-dialog header="Graficos" [(visible)]="showModalGraficos" [maximizable]="true" [style]="{width: '50vw'}">
                <p-chart type="bar" [data]="dataGrafico"></p-chart>
            </p-dialog>

            <!--------------------------------------------------->

            <p-card class="m-2" header="header" (click)="modalOrdenarLista()">
                <b>Ordenar lista</b>
            </p-card>

            <p-dialog header="Lista" [(visible)]="showModalOrdenarLista" [maximizable]="true" [style]="{width: '50vw'}">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-boxLista" *ngFor="let movie of movies" cdkDrag>
                      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                      {{movie}}
                    </div>
                  </div>
            </p-dialog>

        </div>

        <div class="col col-md-8 colCentral">
            <p>Centro</p>
        </div>

        <div class="col col-md-2 colLateral">

            <p-card class="m-2" *ngFor="let lateral of cardList" header="header">
                Content
            </p-card>

        </div>
    </div>
    <div class="row divCards divCards-abajo">
        <!--Cards inferiores-->
        <!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" (cdkDropListExited)="prueba($event)">-->
            
            <div class="col d-flex justify-content-center">
                <div class="row">
                    <!--<div class="example-box example-box-down" *ngFor="let card of cardList" cdkDrag>{{card.titulo}}</div>--> <!--ANTES DE CODEPEN--> 

                    <!--INI-CODEPEN-->
                    <div cdkDrag [ngClass]="expandir ? 'containerCard expand' : 'containerCard'"><span (click)="expandir = !expandir" class="button">&#10006;</span>
                        <div class="content">
                          <div class="head">
                            <h1>Expand.</h1>
                            <p class="sub">by <a href="https://codepen.io/woodwork/" target="_blank">Joe Harry</a></p>
                          </div>
                          <div class="body">
                            <p>
                              There once was a wolf named <em>Knox</em>. He lived in a bright blue box. Until one day, his box blew away and he was left with only his <em>socks</em>.<br><br> Integer augue augue, fermentum at purus nec, euismod rutrum ex. Nulla pulvinar tortor ipsum, vel accumsan nunc rutrum sed. Praesent faucibus sollicitudin tempus. Phasellus congue ex tempor malesuada congue. Etiam vitae dui commodo, ultrices eros malesuada mi. Fusce suscipit eleifend lacus, at gravida urna gravida in. Nullam sodales a consequat leo nisl sit amet ipsum. Pellentesque aliquam dolor quam, et ultricies leo fringilla in. Nulla eu neque eu mauris malesuada efficitur ultrices sed mi. Vestibulum nec quam vitae purus ut sed velit. Vestibulum ultricies iaculis magna ut consequat.</p>
                            <div class="action-bar"><a>SHARE</a><a>LEARN MORE</a></div>
                          </div>
                        </div>
                      </div>
                      <!--FIN-CODEPEN-->

                    
                </div>
            </div>

        <!--</div>-->
        <!--<app-cards></app-cards>-->
        <!--<app-card-list></app-card-list>-->
    </div>
    

